@charset "utf-8";
/* CSS Document */
/* defaults
----------------------------------------------------------------------------------------------------------------*/

@import url('reset.css');

html {
	font-size: 16px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	background: #2f2f2f;
	margin: 0; padding: 0;
}

/* hello bar
----------------------------------------------------------------------------------------------------------------*/

.hello-bar {
	color: #82826e;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	background: #e4e5c9 url(../imgs/hello-bar-bg.png) no-repeat 35px 13px;
	-moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .54);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .54);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .54);
	width: 100%;
	height: 49px;
	position: relative;
	z-index: 20;
}

.hello-bar:before,
.hello-bar:after {
	content: "";
	display: table;
}

.hello-bar:after {
	clear: both;
}

.hello-bar {
	zoom: 1;
}

	.hello-bar ul {
		width: 695px;
		margin: 11px auto 0 auto;
	}

		.hello-bar li {
			line-height: 28px;
			float: left;
		}

	.hello-bar .button-social {
		color: #e4e5c9;
		font-size: 0.9em;
		background: #aaab92;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		line-height: 30px;
		margin: -1px 12px 0 12px; padding: 0 11px;
		float: left;
	}

		.hello-bar #facebook-share {
			width: 165px;
			line-height: 30px;
			position: relative;
			cursor: default;
		}

		.hello-bar #facebook-button {
			position: absolute;
			top: -1000px; left: 0;
			z-index: 99999;
			opacity: 0;
			cursor: pointer;
		}

	.hello-bar .button-social:hover {
		text-decoration: none;
		background: #afb099;
	}

	.hello-bar .close {
		text-indent: -9999em;
		background: url(../imgs/hello-bar-close.png) no-repeat top left;
		width: 21px;
		height: 21px;
		position: absolute;
		top: 15px; right: 15px;
	}

	.hello-bar .close:hover {
		background-position: bottom left;
	}

	.hello-bar .tab {
		text-indent: -9999em;
		background: #eee url(../imgs/hello-bar-show-hide.png) no-repeat center;
		-moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .54);
		-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .54);
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .54);
		-moz-border-radius: 0 0 0 3px;
		-webkit-border-radius: 0 0 0 3px;
		border-radius: 0 0 0 3px;
		width: 15px;
		height: 14px;
		position: absolute;
		bottom: -14px; right: 0;
	}

/*
----------------------------------------------------------------------------------------------------------------*/

.container {
	background: url(../imgs/nav-bg.png) repeat-y left;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
}

/*
----------------------------------------------------------------------------------------------------------------*/

nav {
	background: #565656 url(../imgs/nav-bg.png) repeat-y left;
	height: 100%;
	width: 86px;
	float: left;
	position: relative;
	z-index: 10;
}

	nav .logo a {
		text-indent: -9999em;
		background: #2c2c2c url(../imgs/logo.png) no-repeat;
		width: 86px;
		height: 62px;
		margin: 49px 0 0 0;
		display: inline-block;
		position: relative;
		z-index: 10;
	}

	nav .logo a span {
		background: #2c2c2c url(../imgs/logo.png) no-repeat bottom left;
		opacity: 0;
		-moz-transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
		-o-transition: opacity 0.3s;
		content: "";
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		z-index: 15;
	}

	nav .logo a:hover span {
		opacity: 1;
	}

	nav ul {
		background: url(../imgs/nav-bg.png) repeat-y left;
		position: absolute;
		top: 111px;
	}

		nav li {
			background: url(../imgs/nav-sep.png) bottom left no-repeat,
						url(../imgs/nav-bg.png) repeat-y left;
			width: 86px;
		}

		nav li a {
			color: #B4B4B4;
			font-size: 1.18em;
			font-weight: bold;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 3);
			text-align: center;
			height: 15px;
			display: block;
			position: relative;
			z-index: 5;
		}

		nav li a:hover {
			text-decoration: none;
		}

		nav .interface {
			background: url(/images/updates.png) no-repeat center 10px;
                        padding: 59px 0 16px 0;
		}

		nav .interface:hover {
			background: url(/images/updates_hover.png) no-repeat center 10px;
                        padding: 59px 0 16px 0;
		}


		nav .inputs .parent {
			background: url(../imgs/nav-inputs.png) no-repeat center 10px;
			padding: 59px 0 16px 0;
		}

		nav .media .parent {
			background: url(../imgs/nav-media.png) no-repeat center 10px;
			padding: 59px 0 16px 0;
		}

		nav .navigation .parent {
			background: url(../imgs/nav-navigation.png) no-repeat center 10px;
			padding: 59px 0 16px 0;
		}

		nav .other .parent {
			background: url(../imgs/nav-other.png) no-repeat center 10px;
			padding: 59px 0 16px 0;
		}

		nav li .hover {
			background: url(../imgs/nav-hover.png) no-repeat;
			-moz-transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s;
			-o-transition:  opacity 0.3s;
			height: 92px;
			position: absolute;
			top: -2px; left: 0; bottom: 0; right: 0;
			opacity: 0;
		}

		.nav-arrow-right {
			background: url(../imgs/nav-hover.png) no-repeat right center;
			width: 7px;
			height: 21px;
			margin: -12px 0 0 0;
			position: absolute;
			top: 50%; left: 86px;
			z-index: 15;
			opacity: 0;
		}

		nav .submit {
			color: #9e9e9e;
			font-size: 1.18em;
			font-weight: bold;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 3);
			text-align: center;
			width: 86px;
			height: 15px;
			padding: 50px 0 26px 0;
			display: block;
			position: absolute;
			bottom: 0;
			z-index: 5;
		}

		nav .submit:hover {
			text-decoration: none;
		}

			nav .submit span {
				background: url(../imgs/nav-submit.png) no-repeat center 1px;
				-moz-transition: opacity 0.3s;
				-webkit-transition: opacity 0.3s;
				-o-transition:  opacity 0.3s;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0; left: 0;
			}

			nav .submit:hover span {
				opacity: .6;
			}

	/* slide out children categories
	----------------------------------------------------------------------------------------------------------------*/

	.categories-panel {
		background: #282828 url(../imgs/categories-panel-bg.png) repeat-y;
		-moz-box-shadow: 28px 0 28px 0 rgba(0, 0, 0, .4);
		-webkit-box-shadow: 28px 0 28px 0 rgba(0, 0, 0, .4);
		box-shadow: 28px 0 28px 0 rgba(0, 0, 0, .4);
		height: 100%;
		width: 255px;
		position: fixed;
		top: 49px; left: -400px;
		z-index: -1;
	}

		.categories-panel h2 {
			color: #d2d2d2;
			font-family: "proxima-nova","Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 1.7em;
			font-weight: bold;
			letter-spacing: 0.04em;
			background: url(../imgs/categories-panel-head.png) no-repeat bottom left;
			width: 220px;
			height: 39px;
			padding: 22px 0 0 35px;
			display: inline-block;
		}

		nav li ul {
			background: none;
			overflow: visible;
			position: relative;
			top: 0;
		}

			nav li ul li {
				background: #202020 url(../imgs/categories-panel-category.png) no-repeat;
				width: 255px;
				height: 44px;
				padding: 0;
				position: relative;
			}

			nav li ul li span {
				background: #202020 url(../imgs/categories-panel-category.png) no-repeat right -45px !important;
				-moz-transition: opacity 0.2s;
				-webkit-transition: opacity 0.2s;
				-o-transition: opacity 0.2s;
				content: "";
				height: auto !important;
				padding: 0; margin: 0;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				opacity: 0;
			}

			nav li ul li:last-child {
				border-bottom: 1px solid #2e2e2e;
			}

			nav li ul li:hover span {
				opacity: 1;
			}

			nav li ul li a {
				color: #adadad;
				font-size: 1.4em;
				font-weight: normal;
				font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
				text-align: left;
				-moz-transition: color 0.2s;
				-webkit-transition: color 0.2s;
				-o-transition: color 0.2s;
				background: none;
				width: 175px;
				height: 29px;
				margin: 0; padding: 15px 0 0 80px;
				float: left;
				clear: both;
			}

			nav li ul li a:hover {
				color: #ccc;
			}

		/* start sub category icons */

		/* categories */
		.categories-panel .all-interface a {
			background: url(../imgs/categories/interface/all-ui.png) no-repeat 38px center;
		}

		.categories-panel .interface-background a {
			background: url(../imgs/categories/interface/background.png) no-repeat 37px center;
		}

		.categories-panel .interface-dialogs-lightboxes a {
			background: url(../imgs/categories/interface/dialog.png) no-repeat 37px center;
		}

		.categories-panel .interface-feedback a {
			background: url(../imgs/categories/interface/feedback.png) no-repeat 37px center;
		}

		.categories-panel .interface-hide-reveal a {
			background: url(../imgs/categories/interface/hide-reveal.png) no-repeat 37px center;
		}

		.categories-panel .interface-filter-sort a {
			background: url(../imgs/categories/interface/filter.png) no-repeat 37px center;
		}

		.categories-panel .interface-hover a {
			background: url(../imgs/categories/interface/hover.png) no-repeat 37px center;
		}

		.categories-panel .interface-layout a {
			background: url(../imgs/categories/interface/layout.png) no-repeat 37px center;
		}

		.categories-panel .interface-list a {
			background: url(../imgs/categories/interface/list.png) no-repeat 37px center;
		}

		.categories-panel .interface-loading a {
			background: url(../imgs/categories/interface/loading.png) no-repeat 37px center;
		}

		.categories-panel .interface-rounded-edges a {
			background: url(../imgs/categories/interface/rounded-edges.png) no-repeat 37px center;
		}

		.categories-panel .interface-scrolling a {
			background: url(../imgs/categories/interface/scrolling.png) no-repeat 37px center;
		}

		.categories-panel .interface-sliders-carousels a {
			background: url(../imgs/categories/interface/scrolling.png) no-repeat 37px center;
		}

		.categories-panel .interface-tags a {
			background: url(../imgs/categories/interface/layout.png) no-repeat 37px center;
		}

		.categories-panel .interface-text-links a {
			background: url(../imgs/categories/interface/text-links.png) no-repeat 37px center;
		}

		.categories-panel .interface-tooltips a {
			background: url(../imgs/categories/interface/tooltips.png) no-repeat 37px center;
		}

		.categories-panel .interface-web-type a {
			background: url(../imgs/categories/interface/web-type.png) no-repeat 37px center;
		}

		/* inputs */
		.categories-panel .all-inputs a {
			background: url(../imgs/categories/inputs/all-inputs.png) no-repeat 38px center;
		}

		.categories-panel .inputs-autocomplete a {
			background: url(../imgs/categories/inputs/autocomplete.png) no-repeat 37px center;
		}

		.categories-panel .inputs-color-pickers a {
			background: url(../imgs/categories/inputs/color-pickers.png) no-repeat 37px center;
		}

		.categories-panel .inputs-custom-styled a {
			background: url(../imgs/categories/inputs/custom-styled.png) no-repeat 37px center;
		}

		.categories-panel .inputs-date-time a {
			background: url(../imgs/categories/inputs/date-time.png) no-repeat 37px center;
		}

		.categories-panel .inputs-drag-drop a {
			background: url(../imgs/categories/inputs/drag-drop.png) no-repeat 37px center;
		}

		.categories-panel .inputs-general-inputs a {
			background: url(../imgs/categories/inputs/general-inputs.png) no-repeat 37px center;
		}

		.categories-panel .inputs-input-sliders a {
			background: url(../imgs/categories/inputs/input-sliders.png) no-repeat 37px center;
		}

		.categories-panel .inputs-password a {
			background: url(../imgs/categories/inputs/password.png) no-repeat 37px center;
		}

		.categories-panel .inputs-rate-vote a {
			background: url(../imgs/categories/inputs/rate-vote.png) no-repeat 37px center;
		}

		.categories-panel .inputs-search a {
			background: url(../imgs/categories/inputs/search.png) no-repeat 37px center;
		}

		.categories-panel .inputs-selectboxes a {
			background: url(../imgs/categories/inputs/selectboxes.png) no-repeat 37px center;
		}

		.categories-panel .inputs-shortcuts a {
			background: url(../imgs/categories/inputs/shortcuts.png) no-repeat 37px center;
		}

		.categories-panel .inputs-touch a {
			background: url(../imgs/categories/inputs/touch.png) no-repeat 37px center;
		}

		.categories-panel .inputs-rich-input a {
			background: url(../imgs/categories/inputs/rich-input.png) no-repeat 37px center;
		}

		.categories-panel .inputs-upload a {
			background: url(../imgs/categories/inputs/upload.png) no-repeat 37px center;
		}

		.categories-panel .inputs-validation a {
			background: url(../imgs/categories/inputs/validation.png) no-repeat 37px center;
		}

		/* media */
		.categories-panel .all-media a {
			background: url(../imgs/categories/media/all-media.png) no-repeat 38px center;
		}

		.categories-panel .media-audio-video a {
			background: url(../imgs/categories/media/audio-video.png) no-repeat 37px center;
		}

		.categories-panel .media-dialogs-lightboxes a {
			background: url(../imgs/categories/media/dialogs-lightboxes.png) no-repeat 37px center;
		}

		.categories-panel .media-galleries a {
			background: url(../imgs/categories/media/galleries.png) no-repeat 37px center;
		}

		.categories-panel .media-images a {
			background: url(../imgs/categories/media/images.png) no-repeat 37px center;
		}

		.categories-panel .media-maps a {
			background: url(../imgs/categories/media/maps.png) no-repeat 37px center;
		}

		.categories-panel .media-sliders-carousels a {
			background: url(../imgs/categories/media/sliders-carousels.png) no-repeat 37px center;
		}

		.categories-panel .media-tables-graphs a {
			background: url(../imgs/categories/media/tables-graphs.png) no-repeat 37px center;
		}

		/* navigation */
		.categories-panel .all-navigation a {
			background: url(../imgs/categories/navigation/all-nav.png) no-repeat 38px center;
		}

		.categories-panel .navigation-horizontal-tabbed a {
			background: url(../imgs/categories/navigation/horizontal-tabbed.png) no-repeat 37px center;
		}

		.categories-panel .navigation-vertical-drop-down a {
			background: url(../imgs/categories/navigation/vertical.png) no-repeat 37px center;
		}

		.categories-panel .navigation-horizontal-tabbed a {
			background: url(../imgs/categories/navigation/horizontal-tabbed.png) no-repeat 37px center;
		}

		.categories-panel .navigation-pagination a {
			background: url(../imgs/categories/navigation/pagination.png) no-repeat 37px center;
		}

		.categories-panel .navigation-accordion a {
			background: url(../imgs/categories/navigation/accordion.png) no-repeat 37px center;
		}

		.categories-panel .navigation-other-navigation a {
			background: url(../imgs/categories/navigation/other-nav.png) no-repeat 37px center;
		}

		/* other */
		.categories-panel .other-animation-effects a {
			background: url(../imgs/categories/other/animation-effects.png) no-repeat 38px center;
		}

		.categories-panel .other-browser-tweaks a {
			background: url(../imgs/categories/other/browser-tweaks.png) no-repeat 37px center;
		}

		.categories-panel .other-mobile a {
			background: url(../imgs/categories/other/mobile.png) no-repeat 37px center;
		}

		.categories-panel .other-social-rss a {
			background: url(../imgs/categories/other/social-rss.png) no-repeat 37px center;
		}

		.categories-panel .other-standalone-widgets a {
			background: url(../imgs/categories/other/standalone.png) no-repeat 37px center;
		}

		.categories-panel .other-miscellaneous a {
			background: url(../imgs/categories/other/misc.png) no-repeat 37px center;
		}

		/* end sub category icons */

	nav .arrow-up,
	nav .arrow-down {
		background: url(../imgs/nav-fade-arrow-up.png) no-repeat top;
		width: 86px;
		height: 65px;
		position: absolute;
		top: 10; left: 0;
		z-index: 10;
		cursor: pointer;
		display: none;
	}

	nav .arrow-down {
		background: url(../imgs/nav-fade-arrow-down.png) no-repeat top center;
		bottom: 0;
	}

	nav .arrow-up:hover,
	nav .arrow-down:hover {
		background-position: 0 -68px;
	}

/*
----------------------------------------------------------------------------------------------------------------*/

.jspContainer {
	overflow: hidden;
	position: relative;
}

	.jspPane {
		position: absolute;
	}

	.jspVerticalBar {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		width: 5px;
		height: 100%;
		position: absolute;
		top: 6px; right: 6px;
		z-index: 10;
	}

	.jspVerticalBar *,
	.jspHorizontalBar * {
		margin: 0; padding: 0;
	}

	.jspCap {
		display: none;
	}

	.jspTrack {
		background: #2f2f2f;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		position: relative;
	}

	.jspDrag {
		background: #222;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		position: relative;
		top: 0; left: 0;
		cursor: pointer;
	}

	.jspHorizontalBar .jspTrack,
	.jspHorizontalBar .jspDrag {
		float: left;
		height: 100%;
	}

	.jspArrow .jspDisabled {
		cursor: default;
		background: #fff;
	}

	.jspVerticalBar .jspArrow {
		height: 16px;
	}

	.jspHorizontalBar .jspArrow {
		width: 16px;
		height: 100%;
		float: left;
	}

	.jspVerticalBar .jspArrow:focus {
		outline: none;
	}

	.jspCorner {
		background: #eeeef4;
		float: left;
		height: 100%;
	}

	* html .jspCorner {
		margin: 0 -3px 0 0;
	}

/* grid
----------------------------------------------------------------------------------------------------------------*/

.breadcrumbs-search {
	background: #191919;
	border-bottom: 1px solid #404040;
	width: 100%;
	height: 61px;
	position: relative;
}

	.breadcrumbs-search .currently-showing {
		color: #9d9d9d;
		font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
		font-style: italic;
		font-size: 1.5em;
		background: url(../imgs/ico-eye.png) no-repeat 40px center;
		height: 40px;
		padding: 21px 0 0 90px;
		float: left;
		overflow: hidden;
	}

		.breadcrumbs-search .currently-showing .crumb-parent-category {
			color: #fff;
			background: url(../imgs/parent-arrow.png) no-repeat right center;
			margin: 0 8px; padding: 0 20px 0 0;
		}

			.crumb-parent-category a {
				color: #fff;
			}

			.crumb-parent-category a:hover {
				color: #01b4d4;
				text-decoration: none;
			}

		.breadcrumbs-search .currently-showing .result-count {
			color: #d3d3d3;
		}

		.breadcrumbs-search .currently-showing .showing,
		.breadcrumbs-search .currently-showing .alert {
			color: #e8fbff;
			font-size: 1.0em;
			background: #0d91af;
			background: -moz-linear-gradient(top, #0d91af 0%, #0a6c83 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d91af), color-stop(100%,#0a6c83));
			background: -webkit-linear-gradient(top, #0d91af 0%,#0a6c83 100%);
			background: -o-linear-gradient(top, #0d91af 0%,#0a6c83 100%);
			background: -ms-linear-gradient(top, #0d91af 0%,#0a6c83 100%);
			background: linear-gradient(to bottom, #0d91af 0%,#0a6c83 100%);
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			margin: -2px 5px 0 5px; padding: 3px 9px;
			display: inline-block;
		}

		.breadcrumbs-search .currently-showing .alert {
			background: #b22b00;
			background: -moz-linear-gradient(top, #b22b00 0%, #852101 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b22b00), color-stop(100%,#852101));
			background: -webkit-linear-gradient(top, #b22b00 0%,#852101 100%);
			background: -o-linear-gradient(top, #b22b00 0%,#852101 100%);
			background: -ms-linear-gradient(top, #b22b00 0%,#852101 100%);
			background: linear-gradient(to bottom, #b22b00 0%,#852101 100%);
		}



		.breadcrumbs-search .currently-showing .category {
			color: #535353;
		}

	.breadcrumbs-search .search {
		border-right: 1px solid #292929;
		margin: 20px 177px 0 0; padding: 2px 0;
		float: right;
	}

		.breadcrumbs-search .search input[type="text"] {
			font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
			font-style: italic;
			color: #7d7d7d;
			font-size: 1.5em;
			background: url(../imgs/ico-magnify.png) no-repeat center left;
			border: 0;
			width: 70px;
			height: 20px;
			padding: 0 0 0 45px;
		}

	.breadcrumbs-search .social-sharing {
		position: absolute;
		top: 24px; right: 35px;
	}

		.breadcrumbs-search .social-sharing li {
			float: left;
		}

		.breadcrumbs-search .social-sharing li a {
			text-indent: -9999em;
			position: relative;
			display: inline-block;
		}

			.breadcrumbs-search .social-sharing li a span {
				position: absolute;
				top: 0; left: 0;
				opacity: .1;
				-moz-transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
				visibility: hidden;
			}

		.breadcrumbs-search .social-sharing li a:hover span {
			opacity: .999;
			visibility: visible;
		}

		.breadcrumbs-search .social-sharing .rss {
			background: url(../imgs/ico-rss.png) no-repeat;
			width: 17px;
			height: 17px;
		}

			.breadcrumbs-search .social-sharing .rss span {
				background: #191919 url(../imgs/ico-rss.png) no-repeat bottom left;
				width: 17px;
				height: 17px;
			}

		.breadcrumbs-search .social-sharing .twitter {
			background: url(../imgs/ico-twitter.png) no-repeat;
			width: 32px;
			height: 18px;
			margin: 0 20px;
		}

			.breadcrumbs-search .social-sharing .twitter span {
				background: #191919 url(../imgs/ico-twitter.png) no-repeat bottom center;
				width: 32px;
				height: 18px;
			}

		.breadcrumbs-search .social-sharing .buttons {
			background: url(../imgs/ico-arrow-left.png) no-repeat;
			width: 28px;
			height: 17px;
		}

			.breadcrumbs-search .social-sharing .buttons span {
				background: #191919 url(../imgs/ico-arrow-left.png) no-repeat bottom;
				width: 28px;
				height: 17px;
			}

/*
----------------------------------------------------------------------------------------------------------------*/

.grid {
	overflow-y: visible;
	-ms-overflow-y: visible;
	overflow-x: hidden;
	margin: 49px 0 0 0; padding: 0 0 50px 0;
	display: none;
}

	.grid .inner {
		padding: 45px 0 0 45px;
	}

	.grid .box {
		background: #0e0e0e;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		width: 250px;
		height: 300px;
		margin: 0 2% 2% 0;
		float: left;
		overflow: hidden;
		position: relative;
	}

		.grid .box .post-edit-link {
			text-indent: -9999em;
			background: url(../imgs/box-edit-post.png) no-repeat;
			width: 11px;
			height: 11px;
			position: absolute;
			top: 15px; right: 13px;
		}

		.grid .box img {
			-moz-border-radius: 6px 6px 0 0;
			-webkit-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
			float: left;
		}

		.grid .box .inner-content {
			background: #0e0e0e;
			padding: 20px 15px 0 15px;
			position: relative;
			z-index: 5;
			clear: both;
		}

		.grid .box .border-radius {
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
		}

			.box .inner-content h4 {
				height: 21px;
			}

			.box .inner-content h4 a {
				color: #d4d4d4;
				font-family: Gotham, "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 1.15em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
			}

			.box .inner-content h4 a:hover {
				color: #00a5cb;
				text-decoration: none;
				border-bottom: 1px dotted #00a5cb;
			}

			.box .inner-content p {
				font-family: "proxima-nova", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
				color: #838383;
				font-size: 12px;
				line-height: 18px;
				height: 60px;
			}

			.box .inner-content .full-desc {
				margin: -60px 15px 0 0;
				position: absolute;
				display: none;
			}

			.box .inner-content .show-full-desc {
				text-indent: -9999em;
				background: url(../imgs/box-button-show.png) no-repeat;
				width: 33px;
				height: 9px;
				line-height: 9px;
				position: relative;
				display: inline-block;
			}

			.box .inner-content .hide-full-desc {
				text-indent: -9999em;
				background: url(../imgs/box-button-hide.png) no-repeat;
				width: 25px;
				height: 25px;
				margin: 100px auto 0 auto;
				display: none;
			}

			.box .inner-content .show-full-desc:hover,
			.box .inner-content .hide-full-desc:hover  {
				background-position: bottom left;
			}

		.grid .box .author-twitter-handle {
			background: url(../imgs/author-twitter-handle.png) no-repeat 0 3px;
			padding: 0 0 0 17px;
			position: absolute;
			bottom: 36px; left: 14px;
		}

			.grid .box .author-twitter-handle a {
				font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
				color: #8bb8bb;
				font-size: 1.0em;
			}

			.grid .box .author-twitter-handle a:hover {
				color: #00cbdc;
				text-decoration: none;
			}

		.grid .box .in-categories {
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
			background: url(../imgs/in-categories.png) no-repeat 0 3px;
			padding: 0 0 0 11px;
			position: absolute;
			bottom: 15px; left: 15px;
		}

			.grid .box .in-categories li {
				color: #595858;
				font-size: 0.90em;
				text-transform: uppercase;
				float: left;
			}

			.grid .box .in-categories li a {
				color: #595858;
				font-size: 1.2em;
				text-transform: none;
				margin: -3px 0 0 5px;
				display: inline-block;
			}

			.grid .box .in-categories li a:hover {
				color: #00cbdc;
				text-decoration: none;
			}

		.grid .box .badges {
			position: absolute;
			top: 116px; right: 0;
		}

			.grid .box .badges .badge-paid,
			.grid .box .badges .badge-spotlight,
			.grid .box .badges .badge-video {
				text-indent: -9999em;
				background: #35c97f url(../imgs/key-paid.png) no-repeat center;
				width: 29px;
				height: 24px;
				float: left;
			}

			.grid .box .badges .badge-spotlight {
				background: #ffbb00 url(../imgs/key-featured.png) no-repeat center;
			}

			.grid .box .badges .badge-video {
				background: #06afb8 url(../imgs/key-video.png) no-repeat center;
			}

		.grid .box .overlay {
			text-align: center;
			background: rgba(0, 222, 255, .25);
			-moz-border-radius: 6px 6px 0 0;
			-webkit-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
			width: 250px;
			height: 140px;
			position: absolute;
			top: 0; left: 0;
			display: none;
		}

			.box .overlay .button-launch,
			.button-hold .button-launch {
				text-indent: -9999em;
				background: url(../imgs/overlay-button-launch.png) no-repeat;
				width: 92px;
				height: 26px;
				margin: 42px 3px 0 0;
				display: inline-block;
			}

			.box .overlay .button-demo,
			.button-hold .button-demo {
				text-indent: -9999em;
				background: url(../imgs/overlay-button-demo.png) no-repeat;
				width: 69px;
				height: 26px;
				display: inline-block;
			}

			.box .overlay .button-video {
				text-indent: -9999em;
				background: url(../imgs/overlay-button-video.png) no-repeat;
				width: 38px;
				height: 26px;
				margin: 0 0 0 3px;
				display: inline-block;
			}

			.box .overlay .button-launch:hover,
			.box .overlay .button-demo:hover,
			.box .overlay .button-video:hover,
			.button-hold .button-launch:hover,
			.button-hold .button-demo:hover {
				background-position: 0 -26px;
			}

			.box .overlay .plugin-stats {
				text-align: left;
				background: #ffe200;
				border-top: 1px solid #fff100;
				width: 250px;
				height: 33px;
				position: absolute;
				left: 0; bottom: -33px;
				z-index: 1;
			}

				.box .overlay .plugin-stats .data {
					margin: 8px 0 0 15px;
					float: left;
				}

					.box .overlay .plugin-stats li {
						color: #695902;
						font-size: 1.2em;
						font-weight: bold;
						padding: 1px 0;
						float: left;
					}

					.box .overlay .plugin-stats .likes {
						margin: 0 4px 0 0; padding: 1px 10px 1px 0;
					}

						.box .overlay .plugin-stats .likes .voted {
							background: url(../imgs/overlay-thumb-up.png) no-repeat;
							width: 15px;
							height: 16px;
							float: left;
						}

						.box .overlay .plugin-stats .likes a {
							text-indent: -9999em;
							background: url(../imgs/overlay-thumb-up.png) no-repeat;
							width: 15px;
							height: 16px;
							margin: -4px 0 0 0;
							float: left;
							opacity: .49;
						}

						.box .overlay .plugin-stats .likes a:hover {
							opacity: 1;
						}

						.box .overlay .plugin-stats .likes .props {
							float: left;
						}

							.box .overlay .plugin-stats .likes .props span {
								margin: 1px 0 0 8px;
								float: left;
							}

						.box .overlay .plugin-stats .likes .bartext {
							margin: 3px 0 0 0;
							float: left;
						}

					.box .overlay .plugin-stats .views {
						background: url(../imgs/overlay-views.png) no-repeat 0 3px;
						padding: 2px 0 0 30px;
					}

				.box .overlay .plugin-stats .sharing {
					border-left: 1px solid #d6be03;
					height: 19px;
					margin: 7px 0 0 0; padding: 0 0 0 12px;
					float: right;
				}

					.box .overlay .sharing li {
						margin: 0 12px 0 0;
						float: left;
					}

						.box .overlay .sharing li .related {
							text-indent: -9999em;
							background: url(../imgs/overlay-related.png) no-repeat;
							width: 17px;
							height: 11px;
							margin: 3px 0 0 0;
							display: block;
							opacity: .59;
						}

						.box .overlay .sharing li .share {
							text-indent: -9999em;
							background: url(../imgs/overlay-share.png) no-repeat;
							width: 20px;
							height: 13px;
							margin: 2px 0 0 0;
							display: block;
							opacity: .59;
						}

						.box .overlay .sharing li .report-bug {
							text-indent: -9999em;
							background: url(../imgs/overlay-report-bug.png) no-repeat;
							width: 16px;
							height: 14px;
							margin: 2px 0 0 0;
							display: block;
							opacity: .59;
						}

						.box .overlay .sharing li a:hover {
							opacity: 1;
						}

		.grid .welcome {
			text-align: center;
		}

			.grid .welcome h1 {
				text-indent: -9999em;
				background: url(../imgs/welcome-logo.png) no-repeat;
				width: 129px;
				height: 47px;
				margin: 35px 0 16px 0;
				display: inline-block;
			}

			.grid .welcome p {
				font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
				color: #878787;
				font-size: 1.7em;
				font-style: italic;
				line-height: 23px;
			}

				.grid .welcome p span {
					color: #bdbdbd;
					display: block;
				}

			.grid .welcome ul {
				text-align: left;
				margin: 30px 0 0 0;
			}

				.grid .welcome li {
					border-top: 1px solid #212121;
					line-height: 33px;
					margin: 0 20px;
				}

					.grid .welcome li a {
						-moz-transition: all .3s ease-in-out;
						-webkit-transition: all .3s ease-in-out;
						transition: all .3s ease-in-out;
						position: relative;
					}

					.grid .welcome li a:hover {
						color: #b2c0c0;
						text-decoration: none;
					}

					.grid .welcome li a:hover span {
						opacity: 1;
					}

					.grid .welcome li a span {
						opacity: 0;
						position: absolute;
						top: 0; left: 0;
						-moz-transition: all .3s ease-in-out;
						-webkit-transition: all .3s ease-in-out;
						transition: all .3s ease-in-out;
					}

					.grid .welcome .feed {
						color: #ff6c00;
						font-family: "proxima-nova","Proxima Nova", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size: 1.4em;
						font-weight: 700;
						background: url(../imgs/welcome-box-social.png) no-repeat 0 2px;
						margin: 0 20px 0 46px; padding: 0 0 0 25px;
					}

						.grid .welcome .feed span {
							background: #0e0e0e url(../imgs/welcome-box-social.png) no-repeat -5px -90px;
							width: 11px;
							height: 11px;
							margin: 2px 0 0 5px;

						}

					.grid .welcome .twitter {
						color: #02acd6;
						font-family: "proxima-nova","Proxima Nova", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size: 1.4em;
						font-weight: bold;
						background: url(../imgs/welcome-box-social.png) no-repeat 0 -23px;
						margin: 0 20px 0 20px; padding: 0 0 0 30px;
					}

						.grid .welcome .twitter span {
							background: #0e0e0e url(../imgs/welcome-box-social.png) no-repeat 0 -115px;
							width: 19px;
							height: 12px;
							margin: 2px 0 0 0;
						}

					.grid .welcome .share {
						color: #b783fd;
						font-family: "proxima-nova","Proxima Nova", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size: 1.4em;
						font-weight: bold;
						background: url(../imgs/welcome-box-social.png) no-repeat 0 -45px;
						margin: 0 20px 0 41px; padding: 0 0 0 30px;
					}

						.grid .welcome .share span {
							background: #0e0e0e url(../imgs/welcome-box-social.png) no-repeat 0 -135px;
							width: 19px;
							height: 14px;
						}

			.grid .ad {
				background: #000;
			}

				.grid .ad img {
					margin: 40px 0 0 27px;
				}

	.grid .pagination {
		float: left;
		clear: both;
	}

		.pagination li {
			color: #999;
			font-weight: bold;
			margin: 0 6px 0 0;
			float: left;
		}

		.pagination .gap {
			padding: 3px 0 0 0;
			display: inline-block;
		}

			.pagination li a,
			.pagination .current {
				color: #fff;
				font-size: 1.25em;
				text-align: center;
				text-transform: uppercase;
				background: #000;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				width: 25px;
				line-height: 27px;
				display: block;
			}

			.pagination .current {
				color: #000;
				background: #00eaff;
				width: 21px;
			}

			.pagination li a:hover {
				text-decoration: none;
				background-color: #505050;
			}

			.pagination .prev,
			.pagination .next {
				color: #fff;
				text-align: right;
				background: #000 url(../imgs/pagination-arrow-left.png) no-repeat 9px center;
				width: 57px;
				padding: 0 12px 0 0;
			}

			.pagination .next {
				color: #fff;
				text-align: left;
				background: #000 url(../imgs/pagination-arrow-right.png) no-repeat 57px center;
				width: 57px;
				padding: 0 0 0 12px;
			}

			.pagination .current {
				color: #000;
				background: #02eaff;
			}

			.pagination .current:hover {
				color: #000;
				background: #02eaff;
			}

	.grid .key {
		margin: 0 30px 0 0;
		float: left;
	}

		.key li {
			text-indent: -9999em;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			width: 28px;
			height: 20px;
			float: left;
			cursor: pointer;
		}

		.key .paid {
			background: #35c97f url(../imgs/key-paid.png) no-repeat center;
		}

		.key .featured {
			background: #ffbb00 url(../imgs/key-featured.png) no-repeat center;
			margin: 0 10px;
		}

		.key .video {
			background: #06afb8 url(../imgs/key-video.png) no-repeat center;
		}

	.grid footer {
		width: 870px;
		height: 60px;
		margin: 0 auto;
		clear: both;
	}

		.footer-spacer-pagination {
			height: 100px;
			clear: both;
		}

		.footer-spacer-no-pagination {
			height: 114px;
			clear: both;
		}

		footer .copyright {
			padding: 4px 20px 0 0;
			float: left;
		}

		footer li {
			color: #8e8e8e;
			font-family: "proxima-nova","Proxima Nova", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 1.3em;
			float: left;
		}

		footer li a {
			color: #8e8e8e;
			margin: 4px 15px 0 0;
			float: left;
		}

		footer li .footer-submit {
			color: #DADADA;
		}

		footer li .footer-submit:hover,
		footer li .donate:hover
		footer li a:hover {
			color: #e9e9e9;
			text-decoration: none;
		}

		footer .footer-facebook {
			margin: 4px 15px 0 0;
		}

		footer .facebook-like {
			margin: 0 30px 0 0;
		}

		footer .footer-home-wrap {
			text-align: center;
			width: 840px;
			margin: 0 0 0 -5px; padding: 20px 0 20px 0;
			display: inline-block;
			clear: both;
		}

			footer .footer-home-wrap a {
				color: #7f7f7f;
				font-family: "proxima-nova","Proxima Nova", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 1.15em;
			}

			footer .footer-home-wrap a:hover {
				color: #e9e9e9;
				text-decoration: none;
			}

		footer .donate {
			color: #8E8E8E;
			background: url(../imgs/ico-donate.png) no-repeat left center;
			margin: 4px 30px 0 0; padding: 0 0 0 20px;
		}


/*
----------------------------------------------------------------------------------------------------------------*/

.tooltip-logo-wrap {
	width: 170px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	z-index: 99999;
	display: none;
}

	.tooltip-logo-wrap .content {
		text-align: center;
		background: #fff;
		-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		width: 155px;
		height: 80px;
		float: right;
		position: relative;
	}

		.tooltip-logo-wrap .content h3 {
			color: #414141;
			font-size: 1.2em;
			font-weight: bold;
			padding: 13px 0 7px 0;
		}

		.tooltip-logo-wrap .content p {
			color: #818181;
			font-size: 1.1em;
			padding: 0 35px;
		}

	.tooltip-logo-wrap .content:after {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.tooltip-logo-wrap .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #fff;
		border-width: 9px;
		top: 50%;
		margin-top: -24px;
	}

.tooltip-rss-wrap {
	width: 70px;
	height: 35px;
	position: absolute;
	z-index: 99999;
	display: none;
}

	.tooltip-rss-wrap .content {
		color: #3c3c3c;
		font-size: 1.1em;
		text-align: center;
		background: #fff;
		-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		width: 70px;
		height: 18px;
		padding: 5px 0 0 0;
		position: relative;
	}

	.tooltip-rss-wrap .content:after {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.tooltip-rss-wrap .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 5px;
		left: 50%;
		margin-left: -5px;
	}

.tooltip-twitter-wrap {
	width: 170px;
	height: 95px;
	position: absolute;
	top: -1000px;
	z-index: 99999;
}

	.tooltip-twitter-wrap .content {
		color: #3c3c3c;
		font-size: 1.1em;
		text-align: center;
		background: #fff;
		-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		width: 170px;
		height: 80px;
		position: relative;
	}

		.tooltip-twitter-wrap .content h4 {
			color: #ce1313;
			font-size: 1.1em;
			padding: 17px 0 10px 0;
		}

		.tooltip-twitter-wrap .button {
			text-align: center;
			float: left;
		}

	.twitter-welcome .content:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.twitter-welcome .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff !important;
		border-width: 9px;
		left: 50%;
		margin-left: -9px;
	}

	.twitter-toolbar .content:after {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.twitter-toolbar .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 9px;
		left: 50%;
		margin-left: -9px;
	}

.tooltip-share-wrap {
	width: 285px;
	height: 95px;
	position: absolute;
	z-index: 99999;
	top: -1000px
}

	.tooltip-share-wrap .content {
		color: #3c3c3c;
		font-size: 1.1em;
		text-align: center;
		background: #fff;
		-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		width: 268px;
		height: 95px;
		position: relative;
	}

		.tooltip-share-wrap .content h4 {
			color: #ce1313;
			font-size: 1.1em;
			font-weight: normal;
			padding: 17px 0 10px 0;
		}

		.tooltip-share-wrap .content li {
			float: left;
		}

		.tooltip-share-wrap .content .facebook {
			margin: 17px 14px 0 15px;
		}

		.tooltip-share-wrap .content .twitter {
			margin: 16px 14px 0 0;
		}

		.tooltip-share-wrap .content .pinterest {
			margin: 38px 14px 0 0;
		}

		.tooltip-share-wrap .content .googleplus {
			margin: 18px 14px 0 0;
		}

	.toolbar-share .content:after {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.toolbar-share .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 11px;
		left: 100%;
		margin: 0 0 0 -32px;
	}

	.welcome-share .content:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.welcome-share .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 11px;
		left: 50%;
		margin: 0 0 0 -11px;
	}

.tooltip-permalink-wrap {
	width: 90px;
	position: absolute;
	display: none;
}

	.tooltip-permalink-wrap .content {
		color: #3c3c3c;
		font-size: 1.1em;
		text-align: center;
		background: #fff;
		-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		width: 90px;
		height: 19px;
		padding: 6px 0 0 0;
		position: relative;
	}

	.tooltip-permalink-wrap .content:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.tooltip-permalink-wrap .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 4px;
		left: 50%;
		margin-left: -4px;
	}

.tooltip-report-error-wrap {
	width: 90px;
	position: absolute;
	display: none;
}

	.tooltip-report-error-wrap .content {
		color: #3c3c3c;
		font-size: 1.1em;
		text-align: center;
		background: #fff;
		-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		width: 90px;
		height: 19px;
		padding: 6px 0 0 0;
		position: relative;
	}

	.tooltip-report-error-wrap .content:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.tooltip-report-error-wrap .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 4px;
		left: 50%;
		margin-left: 4px;
	}

.tooltip-key-wrap {
	position: absolute;
	z-index: 99999;
	display: none;
}

	.tooltip-key-wrap .content {
		text-align: center;
		background: #fff;
		-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .27);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		width: 190px;
		padding: 10px 0 16px 0;
		position: relative;
	}

		.tooltip-key-wrap .content h3 {
			color: #262626;
			font-size: 1.2em;
			padding: 6px 0 5px 0;
		}

		.tooltip-key-wrap .content p {
			color: #848484;
			font-size: 1.2em;
			padding: 0 15px;
		}

	.tooltip-key-wrap .content:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.tooltip-key-wrap .content:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 9px;
		left: 50%;
		margin-left: -9px;
	}

/* video player
----------------------------------------------------------------------------------------------------------------*/

#video-player {
	background: rgba(0, 0, 0, .7);
	min-height: 100%;
	min-width: 100%;
	position: absolute; top: 0; left: 0;
	z-index: 1000;
	display: none;
}

	#video-player .video-content {
		background: #252525;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		width: 877px;
		height: 557px;
		padding: 23px 0 0 23px;
		position: absolute;
		top: 50%; left: 50%;
		margin: -290px 0 0 -450px;
	}

	#video-player .button-hold {
		text-align: center;
		width: 853px;
	}

		#video-player .button-hold .button-launch {
			margin: 20px 0 0 0;
		}

		#video-player .button-hold .button-demo {
			margin: 20px 0 0 10px;
		}

	#video-player .close {
		text-indent: -9999em;
		background: url(../imgs/video-player-close.png) no-repeat;
		width: 24px;
		height: 24px;
		position: absolute;
		bottom: 23px; right: 23px;
		cursor: pointer;
	}

	#video-player .close:hover {
		opacity: 0.8;
	}


/* related
----------------------------------------------------------------------------------------------------------------*/

.related-sep {
	background: #242424;
	height: 6px;
	margin: 0 0 2% -86px;
	clear: both;
}

.related-post {
	color: #cdd4d4;
	font-family: Gotham, "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	background: #121212;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width: 250px;
	height: 190px;
	margin: 0 2% 2% 0;
	overflow: hidden;
	float: left;
}

.related-post:hover {
	color: #00a5cb;
	text-decoration: none;
}

	.related-post img {
		-moz-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
	}

	.related-post span {
		padding: 18px 0 0 14px;
		display: block;
	}

.related-main {
	text-indent: -9999em;
	background: #121212 url(../imgs/related-posts.png) no-repeat center;
}

.related-spacer {
	height: 15px;
	clear: both;
}

/*
----------------------------------------------------------------------------------------------------------------*/

#pinterest {
	display: none;
}

#loading {
	position: absolute;
	top: 50%; left: 50%;
	margin: -15px 0 0 3px;
	z-index: 100;
}

.ad {
	display: none;
}

#at20mc {
	display: none;
}
